<!DOCTYPE html>
<html>
<head>
    <title>FWI Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="login">
        <h1>FWI Prediction</h1>
    
        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict_datapoint')}}" method="post">
            <input type="text" name="Temperature" placeholder="Temperature noon (temperature max) in Celsius degrees: 22 to 42" required /><br>
            <input type="text" name="RH" placeholder="Relative Humidity in %: 21 to 90" required /><br>
            <input type="text" name="Ws" placeholder="Wind speed in km/h: 6 to 29" required /><br>
            <input type="text" name="Rain" placeholder="total day in mm: 0 to 16.8" required /><br>
            <input type="text" name="FFMC" placeholder="Fine Fuel Moisture Code (FFMC) index from the FWI system: 28.6 to 92.5" required /><br>
            <input type="text" name="DMC" placeholder="Duff Moisture Code (DMC) index from the FWI system: 1.1 to 65.9" required /><br>
            <input type="text" name="ISI" placeholder="Initial Spread Index (ISI) index from the FWI system: 0 to 18.5" required /><br>
            <input type="text" name="Classes" placeholder=" Classes: two classes, namely Fire=1 and not Fire=0" required /><br>
            <input type="text" name="Region" placeholder="Region = Bejaia Region Dataset = 0,Sidi-Bel Abbes Dataset = 1" required /><br><br><br>
    
            <button type="submit">Predict</button>
        </form>
        <h2>
            THE FWI prediction is {{result}}
        </h2>
    </div>
</body>
</html>
